/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

[masonry-brick]{
    width: 250px;
    margin: 10px;
    background: rgb(204, 255, 144);
}
